*{
    padding: 0;
    margin: 0;
    border-color:#999;
    
}
#main{
    padding: 20px;
    background-color: #eee;
    border:1px solid #999;
    position: relative;
    overflow:hidden;
    height: auto;
}
div{
    background: #fff;
    border:1px solid #999;
}
#left{
    width: 180px;
    height:auto;
    position: relative;
    float:left;
    overflow: hidden;
}
#left img{
    width:80px;
    height:80px;
    float:left;

}
#left p{
    position: relative;
    top:26px;
    right:-20px;
}
#center{
    position:absolute;
    margin: 0 160px 0 200px;
    height:auto;
    overflow: hidden;
}
#right{
    width:120px;
    float: right;
}
#right img{
    margin:20px;
    width:80px;
    height:80px;
    display: block;
}
